@import url("https://fonts.googleapis.com/css?family=Roboto:900");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}   

.learn-more {
  outline: none;
  border-radius: 15px;
  margin-left: 10%;
  margin-top: 20px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}
.learn-more {
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
  outline: none;
  transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 1.95);
  font-weight: 900;
  color: #202121;
  padding: 1.25rem 2rem;
  background: #fff;
  text-transform: uppercase;
}
.learn-more:hover, button.learn-more:focus, button.learn-more:active {
    outline: none;
  letter-spacing: 0.125rem;
}