.container {
  width: 30%;
  margin-top: 9%;
  box-shadow: 0 3px 20px rgba(0,0,0,0.3);
  padding: 40px;
}

button-login {
  width: 48%;
}

.input-group-text {
  height: 38px;
}

.navbar {
  margin-left: 10px;
}

.add-task {
  width: 30%;
  margin: 0 auto;
}

.text-area {
  margin-bottom: 10px;
}

.date-validate {
  margin-bottom: 10px;
}

.add-todo-btn {
  margin-bottom: 10px;
}