.navbar-nav > li{
    margin-left: 30px;
}

.navbar {
    margin-left: 30px;
}

.register {
    margin-top: 20px; 
    margin-left: 30px;
}

.login {
    margin-top: 20px; 
    margin-left: 30px;
}

.card {
    margin-left: 20px;
    margin-top: 15px;
}
