/* body{
    padding-top:4.2rem;
    padding-bottom:4.2rem;
    } */
    a{
     text-decoration:none !important;
     }
     h1{
     font-family: 'Kaushan Script', cursive;
     padding-bottom: 20px;
     }
     h2{
         text-align: center;
     }
      .myform{
    margin-top:4.2rem;
    margin-bottom:4.2rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
     }
     .tx-tfm{
     text-transform:uppercase;
     }
     .mybtn{
     border-radius:50px;
     }
    
     .login-or {
     position: relative;
     color: #aaa;
     margin-top: 10px;
     margin-bottom: 10px;
     padding-top: 10px;
     padding-bottom: 10px;
     }
     .span-or {
     display: block;
     position: absolute;
     left: 50%;
     top: -2px;
     margin-left: -25px;
     background-color: #fff;
     width: 50px;
     text-align: center;
     }
     .hr-or {
     height: 1px;
     margin-top: 0px !important;
     margin-bottom: 0px !important;
     }

      form .error {
     color: #ff0000;
     }
     
    .g-signin2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

/* <!------ nav bar ----------> */
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
      }
      #logout{
        float:right
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover:not(.active) {
        background-color: #111;
      }
      
      .active {
        background-color: #4CAF50;
      }