.jumbotron {
    font-family: 'Dancing Script', cursive;
    background: url('../asset/notes.jpg');
    background-size: cover;
    background-position: center;
}

.jumbotron h1 {
    color: indigo;
    text-shadow: 2px 2px 10px white;
    font-weight: 900;
    font-size: 100px;
}

body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Inconsolata', monospace;
    color: #1a1c20;
    background-color: #d2b48c
}

.footer-copyright {
    margin-top: 20px;
    background-color: #1a1c20;
    color: #f4f4f4;
}

.blockquote-footer {
    color: #1a1c20;
}

.card-header {
    background: url('../asset/pin-svgrepo-com.svg');
    background-size: 25px 25px;
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-position: 16em 0;
}