.form-container {
    background: white;
    margin-top: 50px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    width: auto;
}

.box-container {
    background: white;
    margin-top: 50px;
    margin-left: 200px;
    padding: 30px;
    width: auto;
}

.home-p {
    font-size: large;
}

.register-p {
    margin-bottom: 50px;
}

#add-todo {
    margin-top: 50px !important
}
